<p>Debra would work on her own machine, using  <a href="https://msdn.microsoft.com/en-us/microsoft-r/install-r-client-windows">R Client</a> to execute these R scripts. She will need to <a href="https://msdn.microsoft.com/en-us/microsoft-r/r-client-get-started#configure-ide">install and configure an R IDE</a> to use with R Client.</p>

<p>Now that Debra’s environment is set up, she  opens her IDE and creates a Project.  To follow along with her, open the <strong>Hospital/R</strong> directory.  There you will see three files with the name <code class="highlighter-rouge">Predicting Hospital Length of Stay</code>.</p>

<ul>
  <li>If you are using Visual Studio, double click on the “Visual Studio SLN” file.</li>
  <li>If you are using RStudio, double click on the “R Project” file.</li>
</ul>