<div>
	<div class="col-md-8">
		<h4> ID: {{id}} </h4>

		<img id="nameImg" class="img-responsive"  />
		
		</map>
		
	</div>

	<div class="col-md-4">
		<div class="center" style="padding-top: 50px">
			
		
			<div id="result" >
				<h3><img src="img/steth.png" height="30px"></h3>
			
				<p class="purple" id="losDays"><span class="grey">Predict</span></p>
					<button id="admit_patient" class="btn btn-lrg btn-success">Submit</button>
			<a href="/" class="btn btn-lrg btn-default">Return to List</a>
				
			</div>
		<hr>
		<h4>Latest Claim Results <span class="today"></span></h4>
		<img id="labImg" class="img-responsive" />
		</div>
	</div>

</div>