
<div >


    <div class="row">

            <img src="img/search.png" class="img-responsive" />

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>&nbsp;</th>
                    <th>Age</th>
                    <th>Called</th>
                    <th>Seen by</th>
                    <th>Loss Type Description</th>
                </tr>
            </thead>
            <tbody>
            <tr class="clickable-row"  data-href="/patient?id=402690">
                <td><img src="img/p1.png" > &nbsp; Anthony Embelton </td>
                <td><span class="label label-default">STAT</span></td>
                <td>45</td>
                <td>Today 8:30 AM</td>
                <td>Dr. Fleitas</td>
                <td>Water Damage - Non Weather Related</td>
            </tr>
             <tr class="clickable-row" data-href="/patient?id=402660">
                <td><img src="img/p2.png" > &nbsp; Ana Fernandez</td>
                <td><span class="label label-default">STAT</span></td>
                <td>37</td>
                <td>Today 8:20 AM</td>
                <td>Dr. Boni</td>
                <td>Loss Assessment</td>
            </tr>
            
            <tr class="clickable-row" data-href="/patient?id=402691">
                <td><img src="img/p3.png" > &nbsp; Ashley Gundan</td>
                <td>&nbsp;</td>
                <td>28</td>
                <td>Today 8:30 AM</td>
                <td>Dr. Poloskey</td>
                <td>Loss Assessment</td>
            </tr>
            <tr class="clickable-row" data-href="/patient?id=439181">
                <td><img src="img/p4.png" > &nbsp; Bob Fourscher</td>
                <td>&nbsp;</td>
                <td>16</td>
                <td>Today 7:55 AM</td>
                <td>Dr. Donaghy</td>
                <td>Loss Assessment</td>
            </tr>
            <tr class="clickable-row" data-href="/patient?id=402695">
                <td><img src="img/p5.png" > &nbsp; Emille Anen</td>
                <td>&nbsp;</td>
                <td>34</td>
                <td>Today 7:43 AM</td>
                <td>Dr. Degnan</td>
                <td>Wind</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
