<div >
    <div class="row">

            <img src="img/search.png" class="img-responsive" />

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Form</th>
                    <th>Reported</th>
                    <th>State</th>
                    <th>Loss</th>
                </tr>
            </thead>
            <tbody>
            <tr class="clickable-row"  data-href="/detail?id=83909">
                <td><img src="img/p1.png" height="20px"> &nbsp; 83909</td>
                <td>House</td>
                <td>2/16/2018</td>
                <td>MA</td>
                <td>Water Damage - Non Weather Related</td>
            </tr>
             <tr class="clickable-row" data-href="/detail?id=27495">
                <td><img src="img/p1.png" height="20px"> &nbsp; 27495</td>
                <td>Condo</td>
                <td>2/15/2018</td>
                <td>FL</td>
                <td>Loss Assessment</td>
            </tr>
            
            <tr class="clickable-row" data-href="/detail?id=61265">
                <td><img src="img/p1.png" height="20px"> &nbsp; 61265</td>
                <td>Condo</td>
                <td>2/16/2018</td>
                <td>FL</td>
                <td>Loss Assessment</td>
            </tr>
            <tr class="clickable-row" data-href="/detail?id=24849">
                <td><img src="img/p1.png" height="20px"> &nbsp; 24849</td>
                <td>Condo</td>
                <td>8/15/2018</td>
                <td>FL</td>
                <td>Loss Assessment</td>
            </tr>
            <tr class="clickable-row" data-href="/detail?id=43714">
                <td><img src="img/p1.png" height="20px"> &nbsp; 43714</td>
                <td>House</td>
                <td>2/16/2018</td>
                <td>FL</td>
                <td>Wind</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
