<div>

	<div class="col-md-8">
		<h4> Claim ID: {{id}} </h4>

		<table class="table table-hover table-hos">
            <tbody>
                <tr>
                    <td>Today</td>
                    <td>Dr. Hiram Fleitas</td>
                    <td>ER Complaints of tightness of chest and persistant cough</td>
                </tr>
                <tr>
                    <td>2 days ago</td>
                    <td>Dr. Lou Boni</td>
                    <td>ER Complaints of asthma from forest fire smoke<br/>
                    <span class="badge badge-warn">Prescription</span></td>
                </tr>
                </tbody>
                </table>

		

		
	</div>
	<div class="col-md-4">
		<div class="center" style="padding-top: 50px">
			
		
			<div id="result" >
				<h3><img src="img/steth.svg" height="20px" >
				Claim Status </h3>
			
				<p class="purple" id="losDays"><span class="grey">In ER</span></p>
					<button id="admit_patient" class="btn btn-lrg btn-success">Submit Claim</button>
			<a href="/" class="btn btn-lrg btn-default">Return to Login</a>
				
			</div>
		<hr>
		<h4>Latest Lab Results <span class="today"></span></h4>
		<img id="labImg" class="img-responsive" />
		</div>

		
	</div>

</div>